*{
    margin: 0;
    padding: 0;
}
.navbar-brand img {
	height: 40px;
	width: auto;
	text-align: center !important;
    padding-left: 750px;
}
.menu-list{
    text-decoration: none;
    background-color: #4079AD;
    padding: 14px 0;
    text-align: center;
    margin-top: 20px;
}
.menu-list li{
    display: inline-block;
}
.menu-list li a{
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.learn-more{
    color: #4079AD;    
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.learn-more a{
    text-decoration: underline;
    color: #4079AD;
}
.learn-more a:hover{
    color: #4079AD;
}
.border-area{
    position: relative;
    height: 100%;
    width: 100%;
}
.border-area-bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: black;
    opacity: .1;
}
.christmas-area{
    padding-top: 20px;
    
}
.christmas-area img{
    width: 200px;
}
.christmas-area h4{
    font-weight: 700;
}
.christmas-area p{
    font-size: 12px;
}
.christmas-footer-bg{
    position: relative;
    padding-top: 100px;
}
.christmas-footer-left button{
    font-size: 11px;
    font-weight: 600;
    border: 1px solid black;
    padding: 5px 35px;
    text-transform: uppercase;
}
.christmas-footer-bg-bg::after{
    background-color: black;
    top: 14px;
    left: 0;
    height: 1px;
    width: 270px;
    content: "";
    position: absolute;
}
.christmas-footer-bg-bg::before{
    background-color: black;
    top: 14px;
    right: 0;
    height: 1px;
    width: 270px;
    content: "";
    position: absolute;
}
.christmas-footer-bg-bg-bg::after{
    background-color: black;
    top: 14px;
    left: 30px;
    height: 1px;
    width: 70px;
    content: "";
    position: absolute;
}
.christmas-footer-bg-bg-bg::before{
    background-color: black;
    top: 14px;
    right: 30px;
    height: 1px;
    width: 70px;
    content: "";
    position: absolute;
}


.footer{
    padding-bottom: 100px;
}